<h1>ラック詳細</h1>

<h2>サーバー</h2>
<table border="1">
    <thead>
        <tr>
            <th>サーバー名</th>
            <th>IPアドレス</th>
            <th>OS</th>
            <th>CPU</th>
            <th>メモリ</th>
            <th>ストレージ</th>
        </tr>
    </thead>
    <tbody>
        {{ if .servers}}
        {{ range .servers }}
        <tr>
            <td>{{ .ServerName }}</td>
            <td>{{ .IpAddress }}</td>
            <td>{{ .Os }}</td>
            <td>{{ .Cpu }}</td>
            <td>{{ .Memory }}</td>
            <td>{{ .Storage }}</td>
        </tr>
        {{ end }}
        {{ else }}
        <tr>
            <td colspan="6">該当するレコードが見つかりません。</td>
        </tr>
        {{ end }}
    </tbody>
</table>


<h2>ネットワーク機器</h2>
<table border="1">
    <thead>
        <tr>
            <th>機器名</th>
            <th>ポート数</th>
            <th>IPアドレス</th>
            <th>役割</th>
            <th>MACアドレス</th>
        </tr>
    </thead>
    <tbody>
        {{ if .networkDevices }}
        {{ range .networkDevices }}
        <tr>
            <td>{{ .DeviceName }}</td>
            <td>{{ .PortCount }}</td>
            <td>
                {{ range .IpAddress }}
                    <li>{{ . }}</li>
                {{ end }}
            </td>
            <td>{{ .Role }}</td>
            <td>
                {{ range .PortMacAddress }}
                    <li>{{ . }}</li>
                {{ end }}
            </td>
        </tr>
        {{ end }}
        {{ else }}
        <tr>
            <td colspan="3">該当するレコードが見つかりません。</td>
        </tr>
        {{ end }}
    </tbody>
</table>

<h3>サーバー検索</h3>
<form action="/rack/{{ .unitNumber }}/server/add" method="post">
    <input type="hidden" name="unitNumber" value="{{ .unitNumber }}">
    <input type="text" name="serverName" placeholder="サーバー名">
    <input type="text" name="ipAddress" placeholder="IPアドレス">
    <input type="text" name="os" placeholder="OS">
    <input type="text" name="cpu" placeholder="CPU">
    <input type="text" name="memory" placeholder="メモリ">
    <input type="text" name="storage" placeholder="ストレージ">
    <input type="submit" value="追加">
</form>

<form action="/rack/{{ .unitNumber }}/server/search" method="get">
    <input type="hidden" name="unitNumber" value="{{ .unitNumber }}">
    <input type="text" name="serverName" placeholder="サーバー名">
    <input type="submit" value="検索">
</form>

<form action="/rack/{{ .unitNumber }}/server/delete" method="post">
    <input type="hidden" name="unitNumber" value="{{ .unitNumber }}">
    <input type="text" name="serverName" placeholder="サーバー名">
    <input type="submit" value="削除">
</form>

<h3>ネットワーク機器検索</h3>
<form action="/rack/{{ .unitNumber }}/networkDevice/add" method="post">
    <input type="hidden" name="unitNumber" value="{{ .unitNumber }}">
    <input type="text" name="deviceName" placeholder="機器名">
    <input type="text" name="portCount" placeholder="ポート数">
    <input type="text" name="ipAddresses" placeholder="IPアドレス">
    <input type="text" name="role" placeholder="役割">
    <input type="text" name="portMacAddresses" placeholder="MACアドレス">
    <input type="submit" value="追加">
</form>

<form action="/rack/{{ .unitNumber }}/networkDevice/search" method="get">
    <input type="hidden" name="unitNumber" value="{{ .unitNumber }}">
    <input type="text" name="deviceName" placeholder="機器名">
    <input type="submit" value="検索">
</form>

<form action="/rack/{{ .rack.unitNumber }}/networkDevice/delete" method="post">
    <input type="hidden" name="unitNumber" value="{{ .unitNumber }}">
    <input type="text" name="deviceName" placeholder="機器名">
    <input type="submit" value="削除">
</form>
